## Data Types in Python

1. Strings
2. Numbers (Integers & Float)
3. Boolean

## Numbers 
### Integers

In [1]:
value1= 123_345_678
print(value1)

123345678

In [3]:
value2= 123345678
print(value2)

123345678

### Floating Numbers

In [4]:
value3 = 3.145345
print(value3)

3.145345

## Type Casting
Converting one type to another

In [7]:
#Type casting from string to integer

stringVar = "123"
print(type(stringVar))

#Converting it to integer

intVar = int(stringVar)
print(type(intVar))

<class 'str'>
<class 'int'>

In [23]:
#Why to convert between data types

#add two price to calculate total cost of grocery

item1 = input("Enter the price of banana \n")
item2 = input("Enter the price of apple \n")

totalPrice = item1+item2

print("The total cost of the fruits without type casting are "+ totalPrice)

totalNewPrice = int(item1) + int(item2)
print("The total cost of the fruits with type casting are %s " %totalNewPrice)

Enter the price of banana
10
Enter the price of apple
20
The total cost of the fruits without type casting are 1020
The total cost of the fruits with type casting are 30

In [ ]:
#Another example